:root {
    --embers: #b82601;
    --ink: #062f4f;
    --posy: #813772;
  }

.navbar-black{
  background-color: black;
  color: white;
}

.navbar-black a{
  color: white;
}

body {
  font-family: sans-serif;
  background-color: #242930;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container{
  margin: 2px;
  background-color: black;
  width: 15rem;
  height: 20rem;
  overflow: hidden;
  display: flex;
}

.big-img-container{
  margin: 2px;
  background-color: black;
  width: 30rem;
  height: 40rem;
  overflow: hidden;
  display: flex;
}

.gallery img {
  max-width: 15rem;
  height: auto;
  margin: auto;
  transition: all .2s ease-in-out;
}

.gallery img:hover {
  transition: all .3s ease-in-out;
 transform: scale(1.15);
}
